.common {
  &Head {
    &__head {
      position: relative;
      color: $blue5;
      &--inner {
        display: inline-block;
        padding: 0 1.7rem;
        border-radius: 2.5rem;
        height: 3rem;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 3rem;
        color: #fedd48;
        background: $blue5;
        &.pink {
          background: $pink5;
        }
      }
      &::after {
        position: absolute;
        top: 50%;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 2px;
        background: $blue5;
        transform: translateY(-50%);
        content: "";
      }
      &.noline {
        &::after {
          content: none;
        }
      }
      &--pink {
        &::after {
          background: $pink5;
        }
      }
    }

    &__ttl {
      margin: 0.9rem 0 0;
      padding-bottom: 1.5rem;
      border-bottom: 2px solid $blue5;
      font-size: 2.4rem;
      font-weight: bold;
      color: $blue5;
      &--pink {
        border-bottom: 2px solid $pink5;
        color: $pink5;
      }
      &--en {
        font-size: 3.6rem;
        line-height: 1.5;
      }
      &--ja {
        font-size: 1.4rem;
        font-weight: bold;
        color: #141314;
      }
      &--nobd {
        border-bottom: none;
      }
    }
  }
  &Ttl {
    position: relative;
    padding-bottom: 0.85rem;
    font-size: 2.6rem;
    font-weight: bold;

    &::after {
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 3rem;
      height: 3px;
      background: $blue5;
      transform: translateX(-50%);
      content: "";
    }
    &--pink {
      color: $pink5;
      &::after {
        background: $pink5;
      }
    }
  }
}

.top {
  font-weight: 450;
  letter-spacing: 0.03em;
  &__bg {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -3;
    width: 100%;
    height: 100%;
    img {
      width: 100%;
      height: 100%;
    }
  }
  &Left {
    position: fixed;
    padding-top: 16rem;
    width: 41rem;
    &__title {
      &--sub {
        display: block;
        margin: 1rem 0 0;
        font-size: 2.6rem;
        font-weight: bold;
        color: $pink1;
      }
    }
    &__list {
      margin: 5.6rem 0 0;
      border-top: 1px solid $pink1;
    }
    &__link {
      padding: 2rem 0 1.5rem;
      border-bottom: 1px solid $pink1;
      &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        line-height: 1.2;
        color: #141314;
      }
      &--main {
        display: block;
        margin: 0.5rem 0 0;
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 1.6;
        color: $pink1;
      }
    }
    &__btn {
      margin: 5rem 0 0;
      width: 41rem;
      height: 6.8rem;
    }
    &Info {
      margin: 5.7rem 0 0;
      &__title {
        font-size: 2.5rem;
        font-weight: bold;
        line-height: 1.45;
        color: #141314;
      }
      &__tel {
        margin: 2.15rem 0 0;
        border: 2px solid $blue3;
        border-radius: 0.8rem;
        width: 100%;
        height: 7.5rem;
        color: white;
        text-align: center;
        background: $blue1;
      }
      &__num {
        margin: 0 2rem 0 0;
        font-size: 3.6rem;
        font-weight: 500;
        line-height: 1;
        .icon {
          margin-right: 0.85rem;
          font-size: 3rem;
        }
      }
      &__open {
        font-size: 1.4rem;
        line-height: 1.2;
      }
    }
    @media #{$media-tab} {
      display: none;
    }
    @media #{$media-sp} {
      display: none;
    }
  }
  &SP {
    margin-left: auto;
    width: 40rem;
    box-shadow: 0 0 3rem rgba(#820d51, 0.2);
    @media #{$media-tab} {
      margin: 0 auto;
    }
    @media #{$media-sp} {
      width: 100%;
    }
  }

  &Mv {
    position: relative;
    &__img {
      img {
        width: 100%;
      }
    }
    &__bottom {
      position: absolute;
      bottom: -1rem;
      left: 0;
      padding: 1rem 0;
      width: 100%;
      text-align: center;
      background: $pink2;
      &--head {
        display: inline-block;
        margin-left: 1.5rem;
        font-weight: bold;
        line-height: 1;
        color: #ffd400;
      }
    }
  }

  &Bottom {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 0.9rem;
    width: 100%;
    font-size: 2.2rem;
    font-weight: bold;
    line-height: 1.45;
    color: white;
    text-align: center;
    background: $pink1;
    .icon {
      margin-left: 1rem;
      font-size: 1.4rem;
    }
    @media #{$media-tab} {
      display: block;
      bottom: 0;
      left: 50%;
      width: 40rem;
      transform: translateX(-50%);
    }
    @media #{$media-sp} {
      display: block;
    }
  }

  // タブレットからスマホのみ
  &Link {
    display: none;
    padding: 4rem 0;
    background: white;
    &Btn {
      &Wrap {
      }
      &__wrap {
        position: relative;
        width: calc((100% - 0.5rem) / 2);
        line-height: 1.3;
        text-align: center;
        .shape {
          position: absolute;
          &--left {
            top: 3rem;
            left: 0;
          }
          &--right {
            top: 3rem;
            right: 0;
          }
        }
        &--blue {
          color: $blue2;
        }
        &--pink {
          color: $pink3;
        }
        &--underline {
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1;
          background: linear-gradient(transparent 70%, #ffd400 30%);
        }
      }
      position: relative;
      margin: 1.5rem 0 0;
      height: 5rem;
      font-size: 1.4rem;
      line-height: 1.4;
      .icon {
        position: absolute;
        top: 50%;
        right: 1rem;
        font-size: 1.8rem;
        transform: translateY(-50%);
      }
    }
    @media #{$media-tab} {
      display: block;
    }
    @media #{$media-sp} {
      display: block;
    }
  }
  // タブレットからスマホのみ

  &Copy {
    position: relative;
    padding: 6rem 0 0rem;
    text-align: center;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      background: white;
    }
    &__head {
      position: relative;
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 1.6;
      color: #433b3f;
      .guruguru {
        position: absolute;
        top: 55%;
        transform: translateY(-50%);
        &--left {
          left: 0;
        }
        &--right {
          right: 0;
        }
      }
      &--line {
        padding-bottom: 0.2rem;
        border-bottom: 2px dashed #433b3f;
        line-height: 1.7;
      }
    }
    &__img {
      margin: 3rem 0 0;
    }
    &__msg {
      margin: 1.6rem 0 0.8rem;
      font-size: 2.2rem;
      line-height: 1.6;
      &--underline {
        font-weight: bold;
        background: linear-gradient(transparent 60%, #ffd400 40%);
      }
    }
    &__sug {
      margin: 2rem 0 0;
      font-size: 2.2rem;
      &--dot {
        position: relative;
        font-size: 3rem;
        font-weight: bold;
        color: $pink3;
        &::after {
          position: absolute;
          top: -1.5rem;
          left: 50%;
          line-height: 1;
          transform: translateX(-50%);
          content: "・";
        }
      }
    }
  }
  &Service {
    position: relative;
    padding: 10rem 0 5.3rem;
    text-align: center;
    &__bg {
      position: absolute;
      top: -6rem;
      left: 0;
      z-index: -2;
      width: 100%;
      height: calc(100% + 6rem);
      background: white;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    &__ttl {
      font-weight: bold;
      &--logo {
        margin: 0 auto 0.6rem;
        border-radius: 2rem;
        width: 13.5rem;
        height: 2.3rem;
        background: $blue2;
        img {
          width: 9.2rem;
        }
        &.pink {
          background: $pink1;
        }
      }
      &--main {
        display: block;
        font-size: 3rem;
        line-height: 1.5;
      }
      &--sub {
        display: block;
        margin: 0.5rem 0 0;
        font-size: 1.6rem;
        line-height: 1.5;
      }
    }
    &Copy {
      &__img {
        margin: 2.5rem 0 0;
        img {
          border: 2px solid $blue4;
          border-radius: 8px;
          width: 100%;
        }
        &--pink {
          img {
            border: 2px solid $pink5;
          }
        }
      }
      &__text {
        margin: 2.1rem 0 0;
        font-size: 1.8rem;
        font-weight: bold;
      }
    }
    &Item {
      &Wrap {
        margin: 3.5rem 0 0;
        padding: 3rem 2rem;
        border-radius: 8px;
        background: #f5fdff;
        &--pink {
          background: #fff9fd;
        }
        &__ttl {
          margin: 0 0 4rem;
        }
      }
      margin-bottom: 6.3rem;
      &:last-child {
        margin-bottom: 0;
      }
      &__img {
        position: relative;
        img {
          border-radius: 1rem;
          width: 100%;
        }
      }
      &__feature {
        position: absolute;
        top: 0;
        left: 1rem;
        transform: translateY(-35%);
      }
      &__text {
        padding-top: 1.5rem;
      }
      &__ttl {
        font-weight: bold;
        line-height: 1.5;
        white-space: nowrap;
        &--underline {
          background: linear-gradient(transparent 60%, #ffd400 40%);
        }
      }
      &__content {
        margin-top: 1.3rem;
        font-size: 1.4rem;
      }
    }
    &Spot {
      padding-top: 6.4rem;
      .commonTtl {
        margin: 5rem 0 0;
      }
      &__list {
        margin: 3rem 0 2rem;
      }
      &__link {
        padding: 0.6rem;
        border-radius: 0.8rem;
        width: calc((100% - 0.6rem) / 2);
        font-weight: bold;
        line-height: 1.2;
        color: $fontColor;
        background: #f5fdff;
        img {
          margin-bottom: 0.5rem;
          border-radius: 0.6rem 0.6rem 0 0;
        }
        .icon {
          margin: 0.3rem 0 0;
          color: $blue5;
          transition-duration: 0.5s;
        }
        &:nth-child(n + 3) {
          margin: 0.7rem 0;
        }
        &:hover {
          .icon {
            transform: scale(1.1);
          }
        }
      }
      &Item {
        margin-bottom: 1.5rem;
        border: 2px solid $blue6;
        border-radius: 0.8rem;
        background: #f5fdff;
        &:last-child {
          margin-bottom: 0;
        }
        &__head {
          padding: 0.8rem 0 0.5rem;
          color: white;
          background: $blue6;
          &--en {
            display: block;
            font-size: 1.2rem;
            line-height: 1.25;
            letter-spacing: 0.05rem;
          }
          &--spot {
            font-size: 2rem;
            font-weight: bold;
            line-height: 1;
          }
        }
        &__inner {
          padding: 1.8rem 1.5rem 2rem;
        }
        &__text {
        }
        &__img {
          margin: 1.5rem 0 0;
          .tri {
            width: 1.5rem;
          }
          &--toilet {
            width: 50%;
          }
          &--ba {
            width: calc((100% - 3rem) / 2);
          }
        }
        &__price {
          margin: 1.5rem 0 0;
          line-height: 1.6;
          &--head {
            border: 1px solid $blue6;
            border-radius: 0.8rem;
            line-height: 1.5;
            color: $blue6;
          }
          &--ttl {
            position: relative;
            margin: 0 2rem 0 0;
            border: 1px solid $blue6;
            border-radius: 0.3rem;
            width: 8rem;
            height: 3.2rem;
            font-size: 1.4rem;
            font-weight: bold;
            color: $blue6;
            &::after {
              position: absolute;
              top: 50%;
              right: 0;
              border-style: solid;
              border-top: 3px solid transparent;
              border-right: 0;
              border-bottom: 3px solid transparent;
              border-left: 5px solid $blue6;
              width: 0;
              height: 0;
              transform: translate(100%, -50%);
              content: "";
            }
            &::before {
              position: absolute;
              top: 50%;
              right: 0;
              z-index: 1;
              border-style: solid;
              border-top: 2px solid transparent;
              border-right: 0;
              border-bottom: 2px solid transparent;
              border-left: 3px solid #f5fdff;
              width: 0;
              height: 0;
              transform: translate(100%, -50%);
              content: "";
            }
          }
          &--num {
            font-size: 3.8rem;
            font-weight: bold;
            letter-spacing: 0;
            &.small {
              font-size: 2.9rem;
            }
          }
          &--nontax {
            font-size: 1.8rem;
            font-weight: bold;
            letter-spacing: 0;
            &.small {
              margin-left: 0.5rem;
              font-size: 1.4rem;
            }
          }
          &--notice {
            font-size: 1.2rem;
            line-height: 1;
          }
        }
        &__spot {
          margin: 1.2rem 0 0;
          &--head {
            margin: 0 0 1rem;
            border-radius: 5rem;
            font-size: 1.2rem;
            color: white;
            background: $blue6;
          }
          &--content {
            font-size: 1rem;
            text-align: left;
            .head {
              display: block;
              margin: 0.3rem 0;
            }
          }
        }
      }
    }
    &Help {
      padding: 4rem 0 0;
      &__ttl {
        margin: 2.5rem 0 0;
        font-size: 1.8rem;
        font-weight: bold;
        line-height: 1.5;
      }
      &Item {
        width: calc((100% - 1.8rem) / 3);
        &:nth-child(n + 4) {
          margin-top: 0.8rem;
        }
        &Wrap {
          margin: 2.5rem 0 1.5rem;
        }
        &__head {
          padding: 0.3rem 0;
          border-radius: 0.4rem 0.4rem 0 0;
          font-size: 1.2rem;
          line-height: 1.5;
          color: white;
          background: $pink5;
        }
        &__img {
          img {
            border-radius: 0 0.4rem 0.4rem;
            width: 100%;
          }
        }
      }
      &__notice {
        font-size: 1rem;
        color: #141314;
        text-align: left;
      }
      &__msg {
        position: relative;
        margin: 3rem 0 0;
        padding: 1.6rem;
        border-radius: 0.8rem;
        font-size: 1.5rem;
        line-height: 1.6;
        background: #fff9fd;
        &--circle {
          position: absolute;
          top: 0;
          left: 50%;
          border-radius: 50%;
          width: 3.6rem;
          height: 3.6rem;
          background: white;
          transform: translate(-50%, -50%);
        }
      }
    }
  }
  &Voice {
    position: relative;
    padding: 4rem 0 2rem;
    text-align: center;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      width: 100%;
      height: 100%;
      opacity: 0.4;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      &--under {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -2;
        width: 100%;
        height: 100%;
        background: white;
      }
      &--pink {
        // background: red;
      }
    }
    &Item {
      &Wrap {
        margin: 2rem 0;
      }
      margin-bottom: 2.5rem;
      padding-left: 1.4rem;
      &:last-child {
        margin-bottom: 0;
      }
      &__img {
        width: 8.8rem;
      }
      &__text {
        position: relative;
        padding: 1.5rem;
        border-radius: 0.8rem 0 0 0.8rem;
        width: calc(100% - 10rem);
        font-size: 1.3rem;
        text-align: left;
        letter-spacing: 0;
        background: #f5fdff;
        &::after {
          position: absolute;
          top: 13%;
          left: 0;
          border-style: solid;
          border-top: 12px solid transparent;
          border-right: 24px solid #f5fdff;
          border-bottom: 12px solid transparent;
          border-left: 0;
          width: 0;
          height: 0;
          transform: translateX(-80%) rotate(20deg);
          content: "";
        }
        &--white {
          background: white;
        }
      }
      &:nth-child(even) {
        padding-right: 1.4rem;
        padding-left: 0;
        .topVoiceItem__img {
          order: 2;
        }
        .topVoiceItem__text {
          order: 1;
          border-radius: 0 0.8rem 0.8rem 0;
          &::after {
            position: absolute;
            right: 0;
            left: auto;
            border-style: solid;
            border-top: 12px solid transparent;
            border-right: 0;
            border-bottom: 12px solid transparent;
            border-left: 24px solid #f5fdff;
            width: 0;
            height: 0;
            transform: translateX(80%) rotate(-20deg);
            content: "";
          }
        }
      }
    }
    &__notice {
      padding: 0.5rem 2rem;
      border: 1px solid #4c79c9;
      font-size: 1rem;
      line-height: 1.5;
      color: #4c79c9;
      text-align: left;
      &--pink {
        border: 1px solid $pink5;
        color: $pink5;
      }
    }
  }

  &Price {
    padding: 3rem 0 0;
    background: white;
    &Item {
      border: 2px solid $pink5;
      border-radius: 0.8rem;
      text-align: center;
      background: white;
      &Content {
        padding: 2rem 1.5rem;
      }
      &__head {
        padding: 1rem 0;
        font-size: 2.2rem;
        font-weight: bold;
        line-height: 1.4;
        color: white;
        text-align: center;
        background: $pink5;
      }
      &__ttl {
        font-size: 2.4rem;
        font-weight: bold;
        line-height: 1;
        color: $pink5;
      }
      &PointWrap {
        position: relative;
        margin: 1.5rem 0 0;
        padding: 0.6rem;
        border-radius: 0.4rem;
        background: #f2f2f2;
        &__ttl {
          font-size: 1.4rem;
          font-weight: bold;
        }
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          border-style: solid;
          border-top: 12px solid #f2f2f2;
          border-right: 8px solid transparent;
          border-bottom: 0;
          border-left: 8px solid transparent;
          width: 0;
          height: 0;
          transform: translate(-50%, 100%);
          content: "";
        }
      }
      &Point {
        font-size: 1.1rem;
        background: white;
      }
      &__time {
        margin: 2rem 0 1.2rem;
        border-radius: 0.5rem;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.5;
        color: white;
        background: $pink5;
      }
      &__price {
        margin: 0.8rem 0 0;
        font-weight: bold;
        line-height: 1;
        &:first {
          margin-top: 0;
        }
        &--head {
          position: relative;
          margin: 0 2rem 0 0;
          border: 1px solid $pink5;
          border-radius: 0.3rem;
          width: 8rem;
          height: 3.2rem;
          font-size: 1.4rem;
          color: $pink5;
          text-align: center;
          &.small {
            border: 1px solid #a49f9f;
            height: 2.2rem;
            font-size: 1.2rem;
            font-weight: bold;
            color: #a49f9f;
          }
          &::after,
          &::before {
            position: absolute;
            top: 50%;
            right: 0;
            border-style: solid;
            border-right: 0;
            width: 0;
            height: 0;
            transform: translate(100%, -50%);
            content: "";
          }
          &::before {
            z-index: 1;
            border-top: 2px solid transparent;
            border-bottom: 2px solid transparent;
            border-left: 3px solid white;
          }
          &::after {
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-left: 5px solid $pink5;
          }
          &.small {
            &::after {
              border-left: 5px solid #a49f9f;
            }
          }
        }
        &--num {
          margin: 0 0.5rem 0 0;
          font-size: 2.9rem;
          &.small {
            font-size: 1.5rem;
          }
        }
        &--small {
          font-size: 1.4rem;
          &.small {
            font-size: 1rem;
          }
        }
      }
      &__text {
        margin: 1.2rem 0 0;
        font-size: 1.4rem;
        font-weight: 500;
        &--notice {
          display: block;
          margin: 0 0 0.7rem;
          font-size: 1.2rem;
          font-weight: 400;
          color: #4c89bf;
        }
      }
      &__btn {
        margin: 1.5rem 0 0;
        height: 5rem;
      }
    }

    &__text {
      margin: 2rem 0 0;
      font-size: 1rem;
      line-height: 1.5;
      color: #6a6a6a;
      text-align: left;
    }
  }

  &Text {
    padding: 2rem 0 0;
    font-size: 1rem;
    line-height: 1.5;
    color: #6a6a6a;
    text-align: left;
    background: white;
  }

  &Flow {
    position: relative;
    padding: 5rem 0;
    text-align: center;

    &__text {
    }
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      background: #ffffff;
    }

    &Item {
      &Wrap {
        margin: 5rem 0 0;
      }
      position: relative;
      margin-left: auto;
      padding: 1.5rem;
      border-radius: 0.8rem;
      width: calc((100% - (6.5rem / 2)));
      background: #f9f9f9;
      &:first-child {
        padding: 2.5rem;
      }
      &__ttl {
        font-size: 1.8rem;
        font-weight: bold;
      }
      &__btn {
        margin: 1.3rem 0 0;
        width: 25rem;
        height: 5rem;
        font-size: 1.8rem;
      }
      &__step {
        position: absolute;
        left: 0;
        border-radius: 50%;
        width: 6.5rem;
        height: 6.5rem;
        color: white;
        background: $blue5;
        transform: translate(-50%, -65%);
        &--head {
          margin-bottom: 0.5rem;
          font-size: 1.2rem;
          line-height: 1;
        }
        &--num {
          font-size: 2.2rem;
          font-weight: bold;
          line-height: 1;
        }
        &--pink {
          background: $pink5;
        }
      }
      &__img {
        width: 10rem;
      }
      &__text {
        flex-grow: 1;
        padding-top: 1rem;
        padding-left: 1.5rem;
        width: calc(100% - 11.5rem);
        text-align: left;
        &--ttl {
          margin: 0 0 1rem;
          font-size: 1.5rem;
          font-weight: bold;
          line-height: 1;
        }
        &--text {
          font-size: 1.3rem;
          line-height: 1.5;
        }
      }
      &__down {
        margin: 1rem 0 2.5rem;
        font-size: 1.8rem;
        font-weight: bold;
        color: $blue5;
        &--pink {
          color: $pink1;
        }
      }
    }
  }

  &Choice {
    padding: 2.5rem 0;
    text-align: center;
    background: #f8f8f8;
    &__ttl {
      position: relative;
      font-size: 2.2rem;
      font-weight: bold;
      line-height: 1.5;
    }
    &Item {
      position: relative;
      border-radius: 0 0 0.8rem 0.8rem;
      background: white;
      &__wrap {
        width: calc((100% - 0.7rem) / 2);
        &--blue {
          color: $blue5;
          .topChoiceItem__copy {
            &::after {
              background: $blue5;
            }
            &::before {
              background: $blue5;
            }
          }
          .topChoiceItem__head {
            background: $blue5;
            &::after {
              border-top: 8px solid $blue5;
            }
          }
        }
        &--pink {
          color: $pink3;
          .topChoiceItem__copy {
            &::after {
              background: $pink3;
            }
            &::before {
              background: $pink3;
            }
          }
          .topChoiceItem__head {
            background: $pink5;
            &::after {
              border-top: 8px solid $pink5;
            }
          }
        }
      }
      &Wrap {
        margin: 2.2rem 0 0;
      }
      &__copy {
        position: relative;
        margin: 0 0 1rem;
        font-size: 1.3rem;
        font-weight: bold;
        &::before {
          position: absolute;
          bottom: 0;
          left: 1rem;
          width: 2px;
          height: 2.6rem;
          transform: rotate(-15deg);
          content: "";
        }
        &::after {
          position: absolute;
          right: 1rem;
          bottom: 0;
          width: 2px;
          height: 2.6rem;
          transform: rotate(15deg);
          content: "";
        }
      }
      &__head {
        position: relative;
        padding: 0.7rem 0;
        border-radius: 0.8rem 0.8rem 0 0;
        font-size: 1.6rem;
        font-weight: bold;
        line-height: 1.5;
        color: white;
        &::after {
          position: absolute;
          bottom: 0;
          left: 50%;
          border-style: solid;
          border-right: 5px solid transparent;
          border-bottom: 0;
          border-left: 5px solid transparent;
          width: 0;
          height: 0;
          transform: translate(-50%, 100%);
          content: "";
        }
      }
      &__text {
        padding: 1rem 1.2rem 2rem;
        text-align: left;
        &--point {
          margin: 0 0 1rem;
          font-size: 1.4rem;
          line-height: 1.4;

          &:last-child {
            margin-bottom: 0;
          }
          .icon {
            margin: 0 1rem 0 0;
          }
        }
      }
    }
  }

  &Img {
    padding-top: 4rem;
    background: white;
  }

  &Faq {
    padding: 3.7rem 0 0;
    text-align: center;
    background: white;
    &__ttl {
      font-size: 2.6rem;
      font-weight: bold;
    }
    &Item {
      padding: 1.5rem 0;
      border-bottom: 2px solid $pink5;
      cursor: pointer;
      &Wrap {
        margin: 2.5rem 0 0;
        border-top: 2px solid $pink5;
      }
      &__ques {
        &--head {
          margin: 0 1rem 0 0;
          font-size: 2rem;
          font-weight: normal;
          color: $pink5;
        }
        &--text {
          padding-right: 1rem;
        }
        font-weight: bold;
        line-height: 1.5;
        text-align: left;
        .icon {
          margin-left: auto;
          font-size: 2rem;
          color: $pink5;
          &::after {
            content: "＋";
          }
        }
        &.open {
          .icon {
            margin-left: auto;
            font-size: 2rem;
            color: $pink5;
            &::after {
              content: "－";
            }
          }
        }
      }
      &__ans {
        display: none;
        margin: 1.5rem 0 0;
        font-size: 1.4rem;
        text-align: left;
      }
    }
  }

  &Contact {
    padding: 3rem 0 5rem;
    background: white;
    &__ttl {
      font-size: 2.6rem;
      font-weight: bold;
      line-height: 1.3;
      text-align: center;
    }
    &Tab {
      margin: 1.4rem 0 0;
      &Item {
        border-radius: 0.8rem 0.8rem 0 0;
        width: 50%;
        height: 5rem;
        font-size: 1.5rem;
        line-height: 1.3;
        color: #a49f9f;
        text-align: center;
        background: #ebebeb;
        transition-duration: 0s;
        &.current {
          height: 6rem;
          color: #fedd48;
        }
        &--blue {
          &.current {
            background: $blue5;
          }
        }
        &--pink {
          &.current {
            background: $pink5;
          }
        }
      }
    }
    &Form {
      display: none;
      padding: 1.5rem 1.5rem 3rem;
      border-radius: 0 0 0.8rem 0.8rem;
      border-radius: 0 0 0.8rem 0.8rem;
      &.show {
        display: block;
      }
      &--blue {
        border: 2px solid $blue1;
      }
      &--pink {
        border: 2px solid $pink5;
      }
      &__form {
        margin: 0 0 1rem;
      }
      &__ques {
        font-size: 1.6rem;
        &--req {
          margin: 0 0 0 1rem;
          border-radius: 1.3rem;
          width: 4rem;
          height: 1.7rem;
          font-size: 1rem;
          color: white;
          background: $blue5;
        }
      }
      &__ans {
        position: relative;
        margin: 0.7rem 0 0;
        select,
        input,
        textarea {
          padding: 0.9rem 1.5rem;
          border: 1px solid #b7b7b7;
          border-radius: 0.4rem;
          width: 100%;
          font-size: 1.4rem;
          &::placeholder {
            color: #e5e5e5;
          }
        }
        input.zip {
          width: 18rem;
        }
        select {
          width: 18rem;
        }
        textarea {
          height: 13rem;
        }
      }
      &BtnWrap {
        text-align: center;
      }
      &__btn {
        width: 30rem;
        height: 5rem;
      }
      &__notice {
        margin: 2.5rem 0 0;
        font-size: 1.3rem;
        color: #6a6a6a;
        letter-spacing: 0;
        &--head {
          display: block;
          margin: 0 0 1rem;
          font-weight: bold;
          line-height: 1.5;
          text-align: center;
        }
      }
    }
    &__notice {
      margin: 1.5rem 0 0;
      font-size: 1rem;
      font-weight: 500;
      letter-spacing: 0;
    }
  }

  &Tel {
    display: none;
    position: relative;
    padding: 0 0 4rem;
    &__bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -2;
      width: 100%;
      height: 100%;
      background: white;
    }
    &__ttl {
      position: relative;
      font-size: 1.6rem;
      font-weight: bold;
      &::before {
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 1px;
        background: #d8d2d2;
        content: "";
      }
      .ttl {
        padding: 0 1rem;
        background: white;
      }
    }

    &__tel {
      margin: 2.15rem 0 0;
      border: 2px solid $blue3;
      border-radius: 0.8rem;
      width: 100%;
      height: 7.5rem;
      color: white;
      text-align: center;
      background: $blue1;
    }
    &__num {
      margin: 0 1.4rem 0 0;
      font-size: 3rem;
      .icon {
        margin-right: 0.7rem;
        font-size: 2.3rem;
      }
    }
    &__open {
      font-size: 1.2rem;
      line-height: 1.2;
    }
    @media #{$media-tab} {
      display: block;
    }
    @media #{$media-sp} {
      display: block;
    }
  }
}
